<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hasil Form</title>
</head>
<body>
    <h1>Hasil Form Submit</h1>
    <table border="1">
        <tr>
            <th>Nama</th>
            <th>Email</th>
            <th>Pesan</th>
        </tr>
        {% for row in data %}
            <tr>
                <td>{{ row['Nama'] }}</td>
                <td>{{ row['Email'] }}</td>
                <td>{{ row['Pesan'] }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
