<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pengalaman Organisasi | Rifai</title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2.2/dist/tailwind.min.css">
</head>

<body class="bg-blue-900 text-white flex flex-col items-center justify-center min-h-screen">
    <div class="">
        <img src="{{ url_for('static', filename='org.jpg')}}" alt="Foto Asfa" class="h-60 rounded-3xl mb-4">
    </div>    
    <div class="">
        <h1 class="text-4xl font-bold mb-4 flex items-center justify-center">Pengalaman Organisasi</h1>
        <p><span class="font-bold">Tahun Pertama :</span> BEM FTMM UNAIR 2022 | Staf Kementerian PSDM</p>
        <p><span class="font-bold">Tahun Kedua :</span> HIMATESDA UNAIR 2023 | Wakil Ketua Himpunan Mahasiswa</p>
    </div>
    <div class="">
        <h1 class="text-4xl font-bold mb-4 flex items-center justify-center">Pengalaman Kepanitiaan</h1>
        <p><span class="font-bold">1.</span> Karsa FTMM 2022 | Staf PDD</p>
        <p><span class="font-bold">2.</span> Dekan Cup FTMM 2022 | Staf PDD</p>
        <p><span class="font-bold">2.</span> BINARY 2.0 | Staf Komisi Disiplin</p>
        <p><span class="font-bold">2.</span> PEMIRA FTMM 2022 | Ketua Panwaslu</p>
        <p><span class="font-bold">2.</span> BINARY 3.0 | Steering Commitee</p>
    </div>

        <!-- Button Back Home -->
        <a href="/" class="m-4 p-4 bg-green-500 hover:bg-green-600 rounded-2xl text-white">Kembali</a>

</body>

</html>
